.container{
    display:grid;
    grid-template-columns: calc(100vw - 450px) 450px ;
    grid-template-rows: 150px 40px calc(100vh - 190px);
}

.item:nth-child(2n){
    background-color: rgb(21, 74, 153);
}
.item:nth-child(2n-1){
    background-color: #fff;
    text-align:center;
}
.item:nth-child(1){
    text-align: center;
}
.item:nth-child(2){
    color: #fff;
    text-align:center;
    padding: 45px 0;
    font-size: 50px;
}
.item:nth-child(6){
    color: #fff;
    text-align:left;
    padding: 20px 0;
    font-size: 25px;
}